@media only screen and (max-width: 1020px) and (min-width: 768px) {

    /* 画面サイズが768pxから1020pxまではここを読み込む */
    html {
        font-size: 70%;
    }

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 32px;
    }

    .c_info {
        float: center;
        width: 100%;
        color: #4c4c4c;
        font-family: 'serif', sans-serif;
    }

    .c_info td,th {
        font-size: 16px;
        border: 0.5px solid #88ccef;
        padding: 20px;
    }

    ul.tech {
        list-style: none;
    }

    ul.tech>li {
        padding-right: 24px;
        padding-bottom: 16px;
    }

    ul.tech li img {
        height: 60px;
    }

    .clearfix:after {
        content: "";
        display: block;
        clear: both;
    }

    .pull-left {
        float: left;
        box-sizing: border-box;
    }

    /* ここからスライダー用 */
    .slider {
        height: 600px;
        width: 100%;
        background-color: #FFF;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .slider {
        background-position: center top\9;
        background-repeat: repeat-x\9;
    }

    *+html .slider {
        background-position: center top;
        background-repeat: repeat-x;
    }

    /* ここまでスライダー用 */



    /* ここからハンバーガーメニュー用 */
    .slicknav_menu {
        display: none;
        /*PC時は非表示*/
    }

    #gnav {
        list-style: none;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        font-size: 12px;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        margin: 0 auto;
        padding: 30px auto;
        width: 600px;
        height: 50px;
    }

    #gnav ul {
        list-style: none;
        text-align: center;
    }

    #gnav a {
        color: #fff;
    }

    #gnav a:visited {
        color: #fff;
    }

    #gnav ul li {
        padding: 10px 15px;
        display: inline-block;
    }

    /* ここまでハンバーガーメニュー用 */

    /* ここからprofileについて */
    #Profile {
        clear: both;
        margin: 0 auto 60px auto;
        display: block;
        width: 80%;
    }

    #Profile .h2box {
        display: block;
        margin: 0 auto;
        padding: 90px 0 0 0;
        width: 60%;
        border-bottom: solid 1px #333;
    }

    #Profile .h2box .title {
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
        padding: 0 0 17px 0;
        text-align: center;
    }

    #Profile .subtitle {
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        text-align: left;
        padding: 0 0 13px 0;
    }

    #Profile .read {
        font-size: 12px;
        text-align: left;
        padding: 0 0 13px 0;
    }

    /* ここまでprofileについて */

    /* ここからWorks */
    #Works {
        clear: both;
        margin: 0 auto 60px auto;
        display: block;
        width: 80%;
    }

    #Works .h2box {
        display: block;
        margin: 0 auto;
        padding: 90px 0 0 0;
        width: 70px;
        border-bottom: solid 1px #333;
    }

    #Works .h2box .title {
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
        padding: 0 0 17px 0;
        text-align: center;
    }

    #Works .h2box .title-caption {
        font-size: 11px;
        text-align: center;
        padding: 0 0 13px 0;
    }

    #Works .detial {
    font-size: 14px;
    color: #4c4c4c;
    text-align: center;
   /* padding: 0 0 13px 0;*/
}

    .acMenu {
        display: block;
        margin: 0 auto;
    }

    .acMenu .title {
        padding: 20px auto;
        display: block;
        border-bottom: #666 1px solid;
        cursor: pointer;
        clear: both;
        font-family: 'Noto Sans Linear B', sans-serif;
        color: #4c4c4c;
    }


    .acMenu .title .question {
        display: inline;
        font-size: 18px;
        line-height: 2.0em;
        font-family: 'Raleway', sans-serif;
    }

    .acMenu .title .dainari {
        display: inline;
        font-size: 10px;
    }

    .acMenu .title .read {
        display: inline;
        margin-left: 10px;
        font-size: 14px;
        line-height: 2.0em;
    }


    .acMenu .answer {
        display: block;
        clear: both;
        padding: 25px 25px 25px 35px;
        background: #f2f2f2;
        display: none;
        font-family: 'Noto Sans Linear B', sans-serif;
        color: #4c4c4c;
        font-size: 14px;
        line-height: 2.0em;
    }

    /* ここまでWorks */

    /* ここからメールフォーム */
    #contact {
        clear: both;
        margin: 0 auto 60px auto;
        display: block;
        width: 80%;
    }

    #contact .h2box {
        display: block;
        margin: 0 auto;
        padding: 90px 0 0 0;
        width: 100px;
        border-bottom: solid 1px #333;
    }

    #contact .h2box .title {
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
        padding: 0 0 17px 0;
        text-align: center;
    }

    #contact .h2box .title-caption {
        font-size: 11px;
        text-align: center;
        padding: 0 0 13px 0;
    }


    #contact #contact-form {
        width: 100%;
        margin: 0 auto;
        display: block;
        clear: both;
    }

    .form1 {
        margin-top: 10px;
        width: 99%;
        height: 2em;
        padding-left: 1%;
        padding-top: 1px;
        border: solid 1px #999;
    }

    .form2 {
        margin-top: 10px;
        width: 99%;
        height: 100px;
        padding-top: 5px;
        padding-left: 1%;
        border: solid 1px #999;

    }

    .form3 {
        padding: 10px 20px 10px 20px;
        float: right;
    }

    /* ここまでメールフォーム */

    /* ここからフッター */
    #footer {
        clear: both;
        margin: 0 auto;
        display: block;
        width: 100%;
        background: #ccc;
    }

    #footer .copyright {
        text-align: center;
        color: #fff;
        font-size: 0.4em;
        padding: 15px;
    }

    /* ここまでフッター */
}