@charset "UTF-8";
/* CSS Document */

@import url(//fonts.googleapis.com/earlyaccess/nicomoji.css);
@import url(//fonts.googleapis.com/earlyaccess/mplus1p.css);

* {
    margin: 0;
    padding: 0;
}

html,
h1,
p,
body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Linear B', sans-serif;
    font-feature-settings: "palt";
}

html {
    font-size: 100%;
    /* sets the base font to 10px for easier math */
}

body {
    font-size: 16px;
    /* sets the default sizing to make sure nothing is actually 10px */
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 32px;
}

h2,
h3 {
    color: #333;
}

fieldset {
    border: none;
    height: auto;
    -webkit-appearance: none;
    border-radius: 0;
    width: 100%;
}

input {
    border: none;
    border-radius: 0;
}

textarea {
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
}

button {
    border: none;
    background-color: #2d2219;
    color: #fff;
    -webkit-appearance: none;
    border-radius: 0;
}

img {
    max-width: 100%;
    border: 0;
    line-height: 1;
}

.start_title {
    /*width: auto;*/
    font-size: 60px;
    width: auto;
    padding: 100px;
    font-family: 'Raleway';
}

.c_info {
    /*width: auto;*/
    width: 100%;
    float: center;
    color: #4c4c4c;
    font-family: 'serif', sans-serif;
}

.c_info td,th {
    font-size: 14px;
    border: 0.8px solid #88ccef;
    padding: 20px;
    /*    padding: 0 0 13px 0;*/
}



ul.tech {
    list-style: none;
}

ul.tech>li {
    padding-right: 24px;
    padding-bottom: 16px;
}

ul.tech li img {
    height: 60px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.pull-left {
    float: left;
    box-sizing: border-box;
}

/* ここからスライダー用 */

.slider {
    height: 500px;
    width: 80%;
    /*width: 800px;*/
    background-color: #FFF;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
}

.slider {
    background-position: center top\9;
    background-repeat: repeat-x\9;
}

*+html .slider {
    background-position: center top;
    background-repeat: repeat-x;
}
/* ここまでスライダー用 */


/* ここからハンバーガーメニュー用 */
.slicknav_menu {
    display: none;
    /*PC時は非表示*/
}

#gnav {
    list-style: none;

    display: flex;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #4c4c4c;
    margin: 0 auto;
    padding: 50px auto;
    width: 800px;
    height: 50px;
}

#gnav ul {
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-flex-pack: justify;
    -moz-flex-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
}

#gnav a {
    color: #4c4c4c;
}

#gnav a:visited {
    color: #4c4c4c;
}

#gnav ul li {
    padding: 10px 15px;
    display: inline-block;
}



/* ここからprofileについて */
#Profile {
    clear: both;
    margin: 0 auto;
    display: block;
    width: 800px;
}

#Profile .h2box {
    display: block;
    margin: 0 auto;
    padding: 180px 0 0 0;
    width: 100px;
    border-bottom: solid 1px #333;
}

#Profile .h2box .title {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    padding: 0 0 17px 0;
    text-align: center;
}

#Profile .subtitle {
    color: #4c4c4c;
    font-size: 20px;
    font-family: 'Noto Sans Japanese', sans-serif;
    text-align: left;
   /* padding: 0% 30%;
   /* color:blue;*/
}

/*#Profile .subtitle{
    position:relative;
    margin:0 -10px 0 -10px;
    padding:10px 20px;
    background:#88ccef;
    box-shadow:
        0 3px 3px 0 rgba(0,0,0,0.1);
}

#Profile .subtitle:before{
    content:" ";
    position:absolute;
    top:100%;
    left:0;
    width:0;
    height:0;
    border-width:0 10px 10px 0;
    border-style:solid;
    border-color:transparent;
    border-right-color:#7bb8d8;
}
#Profile .subtitle:after{
    content:" ";
    position:absolute;
    top:100%;
    right:0;
    width:0;
    height:0;
    border-width:10px 10px 0 0;
    border-style:solid;
    border-color:transparent;
    border-top-color:#7bb8d8;
}*/

#Profile .read {
/*    font-size: 18px;
    text-align: left;
    padding: 0 0 13px 0;*/
        display: block;
    clear: both;
    padding: 25px 25px 25px 35px;
    /*background: #f2f2f2;*/
     /*background: #88ccef;*/
    font-family: 'Noto Sans Linear B', sans-serif;
    color: #4c4c4c;
    font-size: 13px;
    line-height: 1.8em;
}
/* ここまでprofileについて */



/* ここからWorks */
#Works {
    clear: both;
    margin: 0 auto;
    display: block;
    width: 800px;
}

#Works .h2box {
    display: block;
    margin: 0 auto;
    padding: 180px 0 0 0;
    width: 100px;
    border-bottom: solid 1px #333;
}

#Works .h2box .title {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    padding: 0 0 17px 0;
    text-align: center;
}

#Works .h2box .title-caption {
    font-size: 14px;
    color: #4c4c4c;
    text-align: center;
   /* padding: 0 0 13px 0;*/
}

#Works .detial {
    font-size: 14px;
    color: #4c4c4c;
    text-align: center;
   /* padding: 0 0 13px 0;*/
}

.acMenu {
    display: block;
    margin: 0 auto;
}

.acMenu .title {
    padding: 20px auto;
    display: block;
    border-bottom: #666 1px solid;
    cursor: pointer;
    clear: both;
    font-family: 'Noto Sans Linear B', sans-serif;
    color: #4c4c4c;
    font-size: 8px;
    line-height: 5em;
}


.acMenu .title .question {
    display: inline;
    font-size: 16px;
    line-height: 1.4em;
    font-family: 'Raleway', sans-serif;
}

.acMenu .title .dainari {
    display: inline;
    font-size: 10px;
}

.acMenu .title .read {
    display: inline;
    margin-left: 10px;
    font-size: 16px;
}


.acMenu .answer {
    display: block;
    clear: both;
    padding: 25px 25px 25px 35px;
    background: #f2f2f2;
    display: none;
    font-family: 'Noto Sans Linear B', sans-serif;
    color: #4c4c4c;
    font-size: 12px;
    line-height: 1.8em;
}


/* ここまでWorks */

/* ここからメールフォーム */
#contact {
    clear: both;
    margin: 0 auto;
    display: block;
    width: 614px;
}

#contact .h2box {
    display: block;
    margin: 0 auto;
    padding: 180px 0 0 0;
    width: 100px;
    border-bottom: solid 1px #333;
}

#contact .h2box .title {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    padding: 0 0 17px 0;
    text-align: center;
}

#contact .h2box .title-caption {
    font-size: 11px;
    text-align: center;
    padding: 0 0 13px 0;
}


#contact #contact-form {
    width: 614px;
    padding: 46px 0 0 0;
    margin: 0 0 150px 0;
}

.form1 {
    margin-top: 10px;
    width: 609px;
    height: 2em;
    padding-top: 1px;
    padding-left: 5px;
    border: solid 1px #999;
}

.form2 {
    margin-top: 10px;
    width: 609px;
    height: 100px;
    padding-top: 5px;
    padding-left: 5px;
    border: solid 1px #999;

}

.form3 {
    padding: 10px 20px 10px 20px;
    float: right;
}

/* ここまでメールフォーム */

/* ここからフッター */
#footer {
    clear: both;
    margin: 0 auto;
    display: block;
    width: 100%;
    background: #ccc;
}

#footer .copyright {
    text-align: center;
    color: #fff;
    font-size: 0.4em;
    padding: 15px;
}

/* ここまでフッター */







